<h1>Listing node_feeds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @node_feeds.each do |node_feed| %>
      <tr>
        <td><%= link_to 'Show', node_feed %></td>
        <td><%= link_to 'Edit', edit_node_feed_path(node_feed) %></td>
        <td><%= link_to 'Destroy', node_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node feed', new_node_feed_path %>
