/*
 *= require font-awesome
*/


$font-size-base: 15px;

@import "bootstrap";
@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "markdown";
@import "social-share-button";

body {
  background: #eee;
}
html, body{
  height: 100%;
  .main{
    height: 100%;
    min-height: 100%;
    height: auto !important;
  }
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer{
  background: white;
  padding: 20px 0;
  line-height: 1.5em;
  a{
    color: #999999;
    &:hover{
      color: #bbb;
    }
  }
  .copyright{
  }
  .friend-links{
    .link-item{
      margin-right: 20px;
    }
  }
}

